.overlay-body {
  background:       url(../img/overlay/Overlay.png);
  background-color: transparent;
  font-family:      'Roboto Condensed', sans-serif;
  width:            1920px !important;
  height:           1080px !important;
  padding:          0;
  margin:           0;
  overflow:         hidden;

  #content {
    background-color: transparent;
  }
}

.full {
  background-color: transparent;
  padding:          0;
  margin:           0;
  width:            1920px !important;
  height:           1080px !important;
  overflow:         hidden;

  .stream {
    background-color: transparent;
    width:            1760px !important;
    height:           990px !important;
  }

  .vote {
    .vote-question {
      background:      $vote-question-background;
      background-size: 100% 100%;
      position:        absolute;
      top:             4px;
      right:           4px;

      .vote-text {
        padding:   10px;
        color:     $vote-question-color;
        font-size: 30px;
      }
    }

    .vote-bar {
      position:      absolute;
      right:         25px;
      bottom:        110px;
      width:         110px;
      height:        875px;
      border-radius: 6px;
      border:        1px solid $vote-border-color;

      .vote-chunk {
        position: relative;
        top:      0px;

        .vote-percent {
          text-align:      center;
          font-size:       20px;
          color:           $goal-progress-text-color;
          position:        absolute;
          bottom:          5px;
          right:           75px;
          background:      $vote-question-background;
          background-size: 100% 100%;
          padding:         5px;
          text-align:      right;
          white-space:     nowrap;
          z-index:         1000;
        }

        .vote-progress {
          position: relative;
          right:    0;
          bottom:   0;
          width:    110px;
          height:   100%;
        }

        &:first-of-type {
          border-top-right-radius: 6px;
          border-top-left-radius:  6px;

          .vote-progress {
            border-top-right-radius: 6px;
            border-top-left-radius:  6px;
          }
        }
        &:last-of-type {
          border-bottom-right-radius: 6px;
          border-bottom-left-radius:  6px;

          .vote-progress {
            border-bottom-right-radius: 6px;
            border-bottom-left-radius:  6px;
          }
        }

        &:nth-of-type(1) {
          .vote-progress {
            background: $vote-1-background;
          }
        }
        &:nth-of-type(2) {
          .vote-progress {
            background: $vote-2-background;
          }
        }
        &:nth-of-type(3) {
          .vote-progress {
            background: $vote-3-background;
          }
        }
        &:nth-of-type(4) {
          .vote-progress {
            background: $vote-4-background;
          }
        }
        &:nth-of-type(5) {
          .vote-progress {
            background: $vote-5-background;
          }
        }
        &:nth-of-type(6) {
          .vote-progress {
            background: $vote-6-background;
          }
        }
        &:nth-of-type(7) {
          .vote-progress {
            background: $vote-7-background;
          }
        }
        &:nth-of-type(8) {
          .vote-progress {
            background: $vote-8-background;
          }
        }
        &:nth-of-type(9) {
          .vote-progress {
            background: $vote-9-background;
          }
        }
        &:nth-of-type(10) {
          .vote-progress {
            background: $vote-10-background;
          }
        }
        &:nth-of-type(11) {
          .vote-progress {
            background: $vote-11-background;
          }
        }
        &:nth-of-type(12) {
          .vote-progress {
            background: $vote-12-background;
          }
        }
      }
    }
  }

  .goal {
    .goal-target {
      background: $goal-total-background;
      height:     145px;
      width:      180px;
      position:   absolute;
      top:        4px;
      right:      4px;

      .goal-total {
        position:  relative;
        top:       65px;
        left:      10px;
        color:     $goal-total-color;
        font-size: 40px;
      }
    }

    .goal-bar {
      background-color: $goal-background;
      position:         absolute;
      right:            25px;
      bottom:           110px;
      width:            110px;
      height:           775px;
      border-radius:    6px;
      border:           1px solid $goal-border-color;
    }

    .goal-percent {
      text-align: center;
      font-size:  30px;
      color:      $goal-progress-text-color;
      position:   relative;
      bottom:     35px;
    }

    .goal-progress {
      background:                 $goal-progress;
      position:                   absolute;
      right:                      0;
      bottom:                     0;
      width:                      110px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius:  6px;
      padding-top:                10px;
    }

    .reached {
      background:    $goal-reached;
      color:         $goal-reached-text-color;
      border-radius: 6px;
    }
  }

  .scroll {
    background-color: $scroll-background;
    position:         absolute;
    left:             10px;
    bottom:           7px;
    height:           53px;
    width:            1189px;
    padding:          5px;
    font-size:        45px;
    white-space:      nowrap;
    overflow:         hidden;
    text-transform:   uppercase;

    .tweets {
      display: inline-block;

      span {
        color: $scroll-text-color;
      }

      a {
        color: $scroll-link-color;
      }
    }

    .plain-text {
      width:      100%;
      text-align: center;
      margin-top: -7px;
    }

    .incentive {
      width:      100%;
      text-align: center;
    }
  }

  .total {
    position:        absolute;
    color:           $total-text-color;
    background:      $total-background;
    background-size: 100% 100%;
    border-radius:   4px;
    right:           10px;
    bottom:          10px;
    font-size:       50px;
    padding:         5px 10px;
  }

  .jingle {
    position:        relative;
    bottom:          51px;
    left:            1220px;
    background:      url(../img/overlay/logo.png);
    background-size: 100% 100%;
    width:           300px;
    height:          140px;

  }

  .logo {
    position: absolute;
    right:    30px;
    top:      85px;

    img {
      display:       block;
      margin-bottom: 20px;
    }
  }
}
