$twitch: #64459b;
$twitchBorder: darken($twitch, 10%);
$twitchDark: #605476;

$steam: #13151b;
$steamBorder: darken($steam, 10%);

$psn: #003087;
$psnBorder: darken($psn, 10%);

$rockstar: #fca40d;
$rockstarBorder: #000000;

$reddit: #cee3f8;
$redditBorder: darken($reddit, 10%);

$youtube: #cd201f;
$youtubeBorder: darken($youtube, 10%);
$youtubeDark: #6c3e3c;

$twitter: #55acee;
$twitterBorder: darken($twitter, 10%);
$twitterDark: #2f567b;

$slackBlue: #6ecadc;
$slackYellow: #e9a820;
$slackRed: #e01563;
$slackGreen: #3eb991;

$battle-net: #00B4FF;
$battle-netBorder: #191919;

//$hf-bg-blue: #A6B2CF;
$hf-bg-blue: #889ccf;

$brands: (
                 twitch: (
                         color: $white,
                         bgColor: $twitch,
                         border: $twitchBorder,
                 ),
                 steam: (
                         color: $white,
                         bgColor: $steam,
                         border: $steamBorder,
                 ),
                 psn: (
                         color: $white,
                         bgColor: $psn,
                         border: $psnBorder,
                 ),
                 rockstar: (
                         color: $black,
                         bgColor: $rockstar,
                         border: $rockstarBorder,
                 ),
                 reddit: (
                         color: #336699,
                         bgColor: $reddit,
                         border: $redditBorder,
                 ),
                 youtube: (
                         color: $white,
                         bgColor: $youtube,
                         border: $youtubeBorder,
                 ),
                 twitter: (
                         color: $white,
                         bgColor: $twitter,
                         border: $twitterBorder,
                 ),
                 slack: (
                         color: $white,
                         bgColor: $slackGreen,
                         border: $slackBlue,
                 ),
                 battle-net: (
                         color: $battle-net,
                         bgColor: $battle-netBorder,
                         border: lighten($battle-netBorder, 10%),
                 ),
                 hf-bg-blue: (
                         color: #ffffff,
                         bgColor: $hf-bg-blue,
                         border: darken($hf-bg-blue, 10%),
                 )
         )
