.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row {
  &.no-margin {
    margin-left:  0;
    margin-right: 0;
  }
  &.no-right-margin {
    margin-right: 0;
  }
  &.no-left-margin {
    margin-left: 0;
  }
  &.no-gutter {
    [class*='col-xs-'], [class*='col-sm-'], [class*='col-md-'], [class*='col-lg-'] {
      padding-left:  0;
      padding-right: 0;
    }
  }
  &.no-right-gutter {
    [class*='col-xs-'], [class*='col-sm-'], [class*='col-md-'], [class*='col-lg-'] {
      padding-right: 0;
    }
  }
  &.no-left-gutter {
    [class*='col-xs-'], [class*='col-sm-'], [class*='col-md-'], [class*='col-lg-'] {
      padding-left: 0;
    }
  }
}
