html {
  height: 100%;
}

body {
  background:              url('/img/banners/dark.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
  height:                  100%;
}

#content {
  background-color: $white;
}

#container {
  display:        flex;
  min-height:     100vh;
  flex-direction: column;

  #header {
    height: 50px;
  }

  #content {
    flex: 1;
  }

  .footer {
    background-color: map_get($grays, gray-darker);
    height:           15em;
    padding:          2rem;
    color:            $white;
  }
}

.footer {
  font-size:       12px;
  letter-spacing:  .1rem;
  text-decoration: none;
  font-weight:     400;

  h3 {
    margin-top: 0;
  }

  a:hover {
    color: $brand-info;
  }
}
