.sidebar-area {
  display: flex;

  .content-container {
    flex: 1;
  }

  .sidebar-container {
    display:        flex;
    flex-direction: column;
    height:         calc(100vh - 50px);
    margin-bottom:  -50px;

    .sidebar {
      background:  $gray;
      color:       $white;
      margin-left: -15px;
      flex:        1;
      padding:     2px;
      width:       200px;

      .sidebar-header {
        color: $gray-light;
      }

      .sidebar-item {
        padding:         5px 5px 5px 10px;
        color:           $white;
        display:         block;
        margin-left:     -2px;
        margin-right:    -2px;
        text-decoration: none;

        &.active {
          background: $brand-primary;
        }

        &:hover {
          background: $brand-primary;
        }
      }
    }
  }
}
