.contain-text {
  /* These are technically the same, but use both */
  overflow-wrap:   break-word;
  word-wrap:       break-word;

  -ms-word-break:  break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break:      break-all;
  /* Instead use this non-standard one: */
  word-break:      break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens:     auto;
  -moz-hyphens:    auto;
  -webkit-hyphens: auto;
  hyphens:         auto;
}

.text-sm {
  font-size: 12px;
}

@each $label, $color in $pallet-colors {
  .text-#{$label} {
    color: $color !important;
  }
  .#{$label} {
    background-color: $color !important;
  }
}

.primary a {
  color: $white;
}

@each $label, $color in $grays {
  .text-#{$label} {
    color: $color !important;
  }
  .#{$label} {
    background-color: $color !important;
  }
}

.text-muted {
  color: $text-muted !important;
}

.truncate {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

.hr-divider {
  position:       relative;
  font-size:      12px;
  line-height:    20px;
  text-align:     center;
  text-transform: uppercase;

  &:before {
    position:         absolute;
    top:              50%;
    display:          block;
    content:          "";
    width:            100%;
    height:           1px;
    background-color: $gray-dark;
  }
}
